*{
    text-align: center;
    list-style: none;
}
body{
    background: linear-gradient(
        125deg,
      #8052ec,
      #d161ff
      );
}

input {
       margin: 0;
       border: none;
       width: 50%;
       padding: 20px;
       font-size:15px;
       
    }
   .completed{
    text-decoration: line-through;
    
    }
.button{
      background-color: #ff0000;
      border: none;
      color: #FFFFFF;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 4px 2px;
      cursor: pointer;
   }
   