table{
    width: 80%;
    margin: 40px auto;
    background: #87CEEB;
}

table.list{
    text-align: center;
    width:100% ;
    border:#000000;
}

td{
    border: 1px solid #000000 ;
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even){
    background-color: #ccc8c8;
}

input[type="text"],input[type="number"]{
    width:90%;
    padding:10px 20px;
    margin:8px 0;
    display: inline-block;
    border: 2px solid #964B00;
    border-radius: 4px;
}
input[type="date"],input[type="email"]
{
    width:90%;
    padding:10px 20px;
    margin:8px 0;
    display: inline-block;
    border: 2px solid #964B00;
    border-radius: 4px;
}
#dept{
    width:90%;
    padding:10px 20px;
    display: inline-block;
    border: 2px solid #964B00 ;
    border-radius: 4px;
}
#address{
    border: 2px solid #964B00 ;
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background:#00FF00;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
   
}

input[type="submit"]:hover{
    background:	#FF69B4;
    
}

input[type="reset"]:hover{
    background:	#FF69B4 ;
}

button{
    background:#FF69B4 ;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#00FF00 ;
}




   
